@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    
}

.todo-main h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 114px;
    color: #FACBF1;
}

input[type="text"] {
    font-size: 36px;
    padding-left: 30px;
}

.input input {
    width: 350px;
    height: 60px;
    outline:none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-radius: 2px;
 }

 .input-todo-list-container{
    
 }

 
  .input input::placeholder{
      color: #C8C6CF;
  }

  .add-item {
     font-size: 41px;
     padding: 5px 8px 5px 8px;
     border: none;
     background-color: transparent;
     Color: #8e9497;
     transition: 0.2s ease;
  }

  .add-item:hover{
      color: #000;
      transition: 0.2s ease;
  }

 .input {
   display: flex;
   flex-direction: row;
 }
.todo-main{
    
    margin: 10% auto 0 auto;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-list{
    box-shadow: 0px 10px 15px rgba(0,0,0, 0.1);
}

.addedItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding-left: 20px;
     
}

.addedItemText{
    font-size: 36px;
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
}

.doneTaskCheck{
    -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}


.action-buttons{
    margin-top: 50px;
    opacity: 0;
}

.sort-buttons {
    height: 80px;
    /* border: 5px solid red; */
    width:410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-buttons label{
    font-size: 18px;
    color: #8e9497;
}


.delete-items{
    font-size: 18px;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: transparent;
    height: 45px;
    transition: 0.4s ease;
    border-radius: 10px;
}

.delete-items:hover{
    border:1px solid #000;
    transition: 0.4s ease;
    
}

.error-border{
    border: none;
    border-bottom: 1px solid red !important;
    transition: 0.4s ease;
}
